//Create a .env file and set any non-optional env vars or change default settings

// Port to listen on, default 80
PORT=80

// Host name, defaults to binding to docker container
HOST='0.0.0.0'

// the node environment, defaults to development
NODE_ENV=development

// list of services, separated by commas
SERVICES=service1,service2

// if mailgun is defined in SERVICES (required)
MAILGUN_API
MAILGUN_DOMAIN

// if mailjet is defined in SERVICES (required)
MAILJET_API

// timeout for circuit breaker
TIMEOUT